/* Carussel.model.css */

/* Estilos para a paginação clicável do Swiper */
.swiper-pagination-clickable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Ajuste conforme necessário */
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #6a0dad;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}


  .carusel{
    width: 80%;
    
  }



  
  